{% extends "zapisy/base.html" %}
{% load static %}
{% load filters %}
  {% block content %}
  <div class="center">
    <h2>Nadchodzące</h2>
    {% for event in upcoming %}
      <div class="gallery">
        <p>
          {{event.location.address}} <br>
          {{event.date|show_date}} <br>
          {% if event.coach %}
            Trener: <i class="bi bi-person-check text-success"></i>
          {% else %}
            Trener: <i class="bi bi-person-x text-danger"></i>
          {% endif %}
        </p>

        <a href="{% url 'event' event.id %}">
          <img src="{{ event.location.image.url }}" alt="Cinque Terre" width="600" height="400">
        </a>

        {% if event.cancelled %}
          <div class="desc">
            <p color="red">ODWOŁANE</p>
          </div>
        {% else %}
          <div class="desc">
            <p>
              Zapisanych: {{event.num_signed}} / {{event.player_slots}} <br>
              Rezerwowych: {{event.num_reserve}} <br>
              {{event.price|show_price}} / {{event.price_multisport|show_price}} (MS) <br>
            </p>
          </div>
        {% endif %}

      </div>
    {% endfor %}
  </div>

  <div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>

    <div class="center">
    <h2>Zakończone</h2>
    {% for event in ended %}
      <div class="gallery">
        <p>
          {{event.location.address}} <br>
          {{event.date|show_date}} <br>
          {% if event.coach %}
            Trener: <i class="bi bi-person-check text-success"></i>
          {% else %}
            Trener: <i class="bi bi-person-x text-danger"></i>
          {% endif %}
        </p>
        <a href="{% url 'event' event.id %}">
          <img src="{{ event.location.image.url }}" alt="Cinque Terre" width="600" height="400">
        </a>

        {% if event.cancelled %}
          <div class="desc">
            <p class="red">ODWOŁANE</p>
          </div>
        {% else %}
          <div class="desc">
            <p>Zapisanych: {{event.num_signed}} / {{event.player_slots}}</p>
            {% if user.is_authenticated %}
              <p>Opłacone: {{event.num_paid}} / {{event.num_signed}}</p>
            {% endif %}
            <p>{{event.price|show_price}} / {{event.price_multisport|show_price}} (MS)</p>
          </div>
        {% endif %}

      </div>
    {% endfor %}
    </div>




  {% endblock %}
