{% extends "zapisy/base.html" %}
  {% block content %}
  {% load filters %}

    <h1>{{ event.date|show_date }}</h1>
    <h2>{{ event.location }}</h2>
    <h6>Cena: {{ event.price|floatformat:2 }}zł</h6>
    <h6>Cena multisport: {{ event.price_multisport|floatformat:2 }}zł</h6>
    <br>

    <h4>Zapisz się:</h4>
    {% if not ended and not event.cancelled %}
      <form action="{% url 'playerform' event_id %}" method="post">
        {% csrf_token %}
        {{ playerform.as_p }}
        <input type="submit" name="playerentry" value="zapisz">
      </form>
    {% elif ended %}
      <p class="red">Zapisy nie są dostępne po godzinie rozpoczęcia gry.</p>
    {% elif event.cancelled %}
      <p class="red">Wydarzenie zostało odwołane.</p>
    {% endif %}

    <h4>Lista zapisanych:</h4>
    <table class="table table-borderless table-sm table-responsive">
      <thead>
        <th scope="col"></th>
        <th scope="col">Gracz</th>
        <th scope="col">MS</th>
        <th scope="col">Serwy</th>
        <th scope="col">Do zapłaty</th>
        {% if user.is_authenticated %}
          <th>Usuń</th>
        {% endif %}
      </thead>


      {% for entry in player_entries %}
        <tr>
          <td scope="row">{{forloop.counter}}</td>
          <td>{{entry.player}}</td>
          <td>{{entry.multisport}}</td>
          <td>{{entry.serves}}</td>
          {% if entry.multisport %}
            {% if entry.paid %}
              {% if entry.serves_paid %}
                <td>0.00zł</td>
              {% else %}
                <td>{{entry.serves|multiply:2|floatformat:2}}zł</td>
              {% endif %}
            {% else %}
              {% if entry.serves_paid %}
                <td>{{event.price_multisport|floatformat:2}}zł</td>
              {% else %}
                <td>{{entry.serves|multiply:2|add:event.price_multisport|floatformat:2}}zł</td>
              {% endif %}
            {% endif %}
          {% else %}
            {% if entry.paid %}
              {% if entry.serves_paid %}
                <td>0.00zł</td>
              {% else %}
                <td>{{entry.serves|multiply:2|floatformat:2}}zł</td>
              {% endif %}
            {% else %}
              {% if entry.serves_paid %}
                <td>{{event.price|floatformat:2}}zł</td>
              {% else %}
                <td>{{entry.serves|multiply:2|add:event.price|floatformat:2}}zł</td>
              {% endif %}
            {% endif %}
          {% endif %}
          {% if user.is_authenticated %}
            <td>
              <a href="{% url 'entry_delete' pk=entry.id %}">
                <button class="btn btn-danger btn-sm" type="button">Usuń</button>
              </a>
            </td>
          {% endif %}
        </tr>
      {% endfor %}

    </table>

    <br>
    <h4>Lista rezerwowych:</h4>
    <table class="table table-borderless table-sm table-responsive">
      <thead>
        <th scope="col"></th>
        <th scope="col">Gracz</th>
        <th scope="col">MS</th>
      </thead>

      {% for entry in player_reserve %}
        <tr>
          <td scope="row">{{forloop.counter}}</td>
          <td>{{entry.player}}</td>
          <td>{{entry.multisport}}</td>
        </tr>
      {% endfor %}

    </table>


    {% if user.is_authenticated %}
      <br>
      <h4>Panel administracyjny</h4>

      <a href="{% url 'pay_from_excess_confirm' pk=event.id %}">
        <button class="btn btn-success btn-sm" type="button">Rozpocznij zapłaty</button>
      </a>

      <a href="{% url 'event_cancel' event_id %}">
        <button class="btn btn-warning btn-sm" type="button">Odwołaj</button>
      </a> <br><br>

      <form action="{% url 'adminform' event_id %}" method="post">
        {% csrf_token %}
        {% for form in adminforms %}
          {{ form.as_ul }}
          <br>
        {% endfor %}
        <input type="submit" name="playerentry" value="zapisz">
      </form>
    {% endif %}



  {% endblock %}
