{% extends "zapisy/base.html" %}
{% load static %}
{% load filters %}
  {% block content %}
  <div class="center">
    <h2>Nadchodzące</h2>
    {% for event in upcoming %}
      <div class="gallery">
        <p>{{event.location.address}}</p>
        <p>{{event.date|show_date}}</p>
        <a href="{% url 'event' event.id %}">
          <img src="{{ event.location.image.url }}" alt="Cinque Terre" width="600" height="400">
        </a>

        {% if event.cancelled %}
          <div class="desc">
            <p color="red">ODWOŁANE</p>
          </div>
        {% else %}
          <div class="desc">
            <p>Zapisanych: {{event.num_signed}} / {{event.player_slots}}</p>
            <p>Rezerwowych: {{event.num_reserve}}</p>
            <p>{{event.price|show_price}} / {{event.price_multisport|show_price}} (MS)</p>
          </div>
        {% endif %}

      </div>
    {% endfor %}
  </div>

  <div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>

    <div class="center">
    <h2>Zakończone</h2>
    {% for event in ended %}
      <div class="gallery">
        <p>{{event.location.address}}</p>
        <p>{{event.date|show_date}}</p>
        <a href="{% url 'event' event.id %}">
          <img src="{{ event.location.image.url }}" alt="Cinque Terre" width="600" height="400">
        </a>

        {% if event.cancelled %}
          <div class="desc">
            <p class="red">ODWOŁANE</p>
          </div>
        {% else %}
          <div class="desc">
            <p>Zapisanych: {{event.num_signed}} / {{event.player_slots}}</p>
            {% if user.is_authenticated %}
              <p>Opłacone: {{event.num_paid}} / {{event.num_signed}}</p>
            {% endif %}
            <p>{{event.price|show_price}} / {{event.price_multisport|show_price}} (MS)</p>
          </div>
        {% endif %}

      </div>
    {% endfor %}
    </div>




  {% endblock %}
