{% extends "zapisy/base.html" %}
  {% block content %}
  {% load filters %}
  {% load static %}
  <div id="hof">
    <img src="{% get_media_prefix %}hof.png" alt="Cinque Terre">
  </div>
  <div>
    <table>
      <thead>
        <th>Gracz</th>
        <th>Saldo</th>
      </thead>

      {% for pl in players %}
        <tr>
          <!-- {% for td in pl %}
            <td>{{td}}</td>
          {% endfor %} -->
          <td><a href="{% url 'player' pl.id %}">{{pl.name}}</a></td>
          <td>{{pl.balance|floatformat:2}}</td>

        </tr>
      {% endfor %}
    </table>
  </div>


  {% endblock %}
