{% extends "zapisy/base.html" %}
  {% block content %}
  {% load filters %}

    <p>Cokolwiek hall of fame</p>
    <h1>aaaaa</h1>

    <table>
      <thead>
        <th>Gracz</th>
        <th>Saldo</th>
      </thead>

      {% for pl in players %}
        <tr>
          <!-- {% for td in pl %}
            <td>{{td}}</td>
          {% endfor %} -->
          <td><a href="{% url 'player' pl.id %}">{{pl.name}}</a></td>
          <td>{{pl.balance|floatformat:2}}</td>

        </tr>
      {% endfor %}
    </table>



  {% endblock %}
