{% extends "zapisy/base.html" %}
  {% block content %}
  {% load filters %}
  {% load static %}
  <div id="hof">
    <img src="{% get_media_prefix %}hof.png" alt="Cinque Terre">
  </div>
  <div>
    <table>
      <thead>
        <th>Gracz</th>
        <th>Saldo</th>
      </thead>

      {% for pl, balance in player_list %}
        <tr>
          <td><a href="{% url 'player' pl.id %}">{{pl.name}}</a></td>
          <td>{{balance|show_price}}</td>
        </tr>
      {% endfor %}

    </table>
  </div>

  {% endblock %}
