{% extends "zapisy/base.html" %}
{% load filters %}
  {% block content %}
    {% if user.is_authenticated %}

      <form method="post">
        {% csrf_token %}
        <h1>Czy na pewno chcesz opłacić te zapisy?</h1>
        <br>

        <h3>Do zapłaty:</h3>
        <ul>
          {% for entry in all_unpaid_to_pay %}
            <li>{{entry.player}}: {{entry|entry_count_fee}}</li> <br>
          {% endfor %}
        </ul>

        <input class="btn btn-success" type="submit" value="Tak">
      </form>
      <a href="{% url 'event' event.id %}">
        <button class="btn btn-secondary" type="button">Nie</button>
      </a>

    {% endif %}
  {% endblock %}
