{% extends "zapisy/base.html" %}
{% load filters %}
  {% block content %}

    <h1><span class="badge badge-secondary">{{player.name}}</span></h1>

    {% with player.count_balance as balance %}
      <h2>
        {% if balance < 0 %}
          <span class="badge badge-danger">
        {% elif balance > 0 %}
          <span class="badge badge-success">
        {% else %}
          <span class="badge badge-warning">
        {% endif %}
          {{balance|show_price}}
        </span>
      </h2>
    {% endwith %}

    <h3>Wydarzenia do opłacenia</h3>

    <table class="table table-borderless table-sm">
      <thead>
        <th scope="col">Data</th>
        <th scope="col">Lokalizacja</th>
        <th scope="col">Multisport</th>
        <th scope="col">Serwy</th>
        <th scope="col">Opłacone serwy</th>
        <th scope="col">Opłacone wejście</th>
        <th scope="col">Do zapłaty</th>
        <th scope="col">Przejdź do eventu</th>
      </thead>
      {% for entry in entries_unpaid %}
        {% if entry.payment > 0 %}
          <tr class="red">
        {% else %}
          <tr>
        {% endif %}
            <td scope="row">{{entry.event.date}}</td>
            <td>{{entry.event.location}}</td>
            <td>{{entry.multisport|bool_symbol}}</td>
            <td>{{entry.serves}}</td>
            <td>{{entry.serves_paid|bool_symbol}}</td>
            <td>{{entry.paid|bool_symbol}}</td>
            <td>{{entry.count_total_fee|show_price}}</td>
            <td><a href="{% url 'event' entry.event.id %}">---></a></td>
          </tr>
      {% endfor %}
    </table>

    <br>
    <h3>Wszystkie wydarzenia</h3>
    <table class="table table-borderless table-sm table-responsive">
      <thead>
        <th scope="col">Data</th>
        <th scope="col">Lokalizacja</th>
        <th scope="col">Przejdź do eventu</th>
      </thead>
      {% for entry in all_entries %}
        <tr>
          <td scope="row">{{entry.event.date|show_date}}</td>
          <td>{{entry.event.location}}</td>
          <td><a href="{% url 'event' entry.event.id %}">---></a></td>
        </tr>
      {% endfor %}
    </table>

    <h3>Wszystkie wpłaty</h3>
    <table class="table table-borderless table-sm table-responsive">
      <thead>
        <tr>
          <th scope="col">Data</th>
          <th scope="col">Wpłata</th>
        </tr>
      </thead>
      {% for payment in player_payments %}
        <tr>
          <td scope="row">{{payment.created_at}}</td>
          <td>{{payment.value|show_colored_price}}</td>
        </tr>
      {% endfor %}
    </table>

  {% endblock %}
