{% extends "zapisy/base.html" %}
{% load filters %}
  {% block content %}

    <h1>{{player.name}}</h1>
    <h2>{{player|check_balance}}</h2>

    <h3>WINNY</h3>

    <table>
      <thead>
        <th>Data</th>
        <th>Lokalizacja</th>
        <th>Multisport</th>
        <th>Serwy</th>
        <th>Opłacone serwy</th>
        <th>Opłacone wejście</th>
        <th>Rezygnacja</th>
        <th>Do zapłaty</th>
        <th>Przejdź do eventu</th>
      </thead>
      {% for entry in entries_unpaid %}
        {% if entry.payment > 0 %}
          <tr class="red">
        {% else %}
          <tr>
        {% endif %}
            <td>{{entry.event.date}}</td>
            <td>{{entry.event.location}}</td>
            <td>{{entry.multisport}}</td>
            <td>{{entry.serves}}</td>
            <td>{{entry.serves_paid}}</td>
            <td>{{entry.paid}}</td>
            <td>{{entry.resign}}</td>
            <td>{{entry|entry_count_fee}}</td>
            <td><a href="{% url 'event' entry.event.id %}">Zobacz</a></td>
          </tr>
      {% endfor %}
    </table>

    <br>
    <h3>Wszystkie wydarzenia</h3>
    <ul>
      {% for entry in all_entries %}
        <li>{{entry.event}} <a href="{% url 'event' entry.event.id %}">---></a></li><br>
      {% endfor %}
    </ul>

  {% endblock %}
