{% extends "zapisy/base.html" %}
  {% block content %}
  {% load filters %}

  <h1>{{ title }}</h1>
  <br>

  <h4><a href="{% url 'serve_year_rank' year %}">Przejdź do tegorocznych statystyk</a></h4>

  <table class="table table-borderless table-sm">
    <thead>
      <th scope="col"></th>
      <th scope="col">Gracz</th>
      <th scope="col">Łącznie zepsutych</th>
      <th scope="col">Rozegranych spotkań</th>
      <th scope="col">Zepsuratio</th>
    </thead>

    {% for player in players %}
      <tr>
        <td scope="row">{{forloop.counter}}</td>
        <td>{{player.name}}</td>
        <td>{{player.serve}}</td>
        <td>{{player.events}}</td>
        <td>{{player.ratio|floatformat:2}}</td>
      </tr>
    {% endfor %}

  </table>

  {% endblock %}
