body {
    margin: 0;
    padding: 0;
}

div {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}


.header {
  height: 100px;
  border:1px solid #ccc;
  border-width:1px 0;
}

#logo {
  float:left;
  width: 200px;
}

.nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    display: flex;
    justify-content: center;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(238, 174, 174);
}

.nav li{
    display:inline;
    display: inline;
    color: white;
    text-align: center;
    padding: 27px 40px;
    text-decoration: none;
    float: left;
    border-right: 1px solid rgb(219, 52, 52);
}

.nav li:last-child {
    border-right: none;
}

.nav a{
    display:inline-block;
    padding:10px;
    opacity: 1;
    color: black;


}

.nav li a:hover {
    opacity: 0.5;
}

.nav a:active {
    background-color: rgb(219, 52, 52);
}

.center {
  margin: auto;
  /* width: 100%; */
  padding: 30px;
  justify-content: center;
  text-align: left;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    /* float: left; */
    display: inline-block;
    width: 196px;
  }

  div.gallery:hover {
    border: 1px solid #777;
  }

  div.gallery img {
    width: 100%;
    height: auto;
  }

  div.desc {
    padding: 15px;
    text-align: center;
  }

li {
  display: inline;
}

.red {
  color: red;
}

table {
  width: 100%;
}

h2.center {
  text-align: center;
}
